-let groupLink = '/catalog/'
-let groupImageLink = '/img/catalog/'

-
	let groupList = [
		{
			name: 'Игровые клавиатуры',
			class: 'keyboards',
			link: groupLink + 'keyboards' + '.html',
			image: groupImageLink + 'catalog-keyboards',
			imageCatalog: groupImageLink + 'category-keyboards',
		},
		{
			name: 'Игровые мыши',
			class: 'mouses',
			link: groupLink + 'mouses' + '.html',
			image: groupImageLink + 'catalog-mouses',
			imageCatalog: groupImageLink + 'category-mouses',
		},
		{
			name: 'Игровые гарнитуры',
			class: 'headphones',
			link: groupLink + 'headphones' + '.html',
			image: groupImageLink + 'catalog-headphones',
			imageCatalog: groupImageLink + 'category-headphones',
		},
		{
			name: 'Игровые мониторы',
			class: 'monitors',
			link: groupLink + 'monitors' + '.html',
			image: groupImageLink + 'catalog-monitors',
			imageCatalog: groupImageLink + 'category-monitors',
		},
		{
			name: 'Аудиосистемы',
			class: 'speakers',
			link: groupLink + 'speakers' + '.html',
			image: groupImageLink + 'catalog-speakers',
			imageCatalog: groupImageLink + 'category-speakers',
		},
		{
			name: 'Корпуса для ПК',
			class: 'cases',
			link: groupLink + 'cases' + '.html',
			image: groupImageLink + 'catalog-cases',
			imageCatalog: groupImageLink + 'category-cases',
		},
		{
			name: 'Блоки питания',
			class: 'power',
			link: groupLink + 'power' + '.html',
			image: groupImageLink + 'catalog-power',
			imageCatalog: groupImageLink + 'category-power',
		},
		{
			name: 'Микрофоны',
			class: 'microphones',
			link: groupLink + 'microphones' + '.html',
			image: groupImageLink + 'catalog-microphones',
			imageCatalog: groupImageLink + 'category-microphones',
		},
		{
			name: 'Подставки под наушники',
			class: 'coasters',
			link: groupLink + 'coasters' + '.html',
			image: groupImageLink + 'catalog-coasters',
			imageCatalog: groupImageLink + 'category-coasters',
		},
	];
