-let imagePath = '/gmng/img/catalog/items/'
-let catalogPath = '/gmng/catalog/items/'
-let manualPath = '/gmng/files/manuals/'
-let driverPath = '/gmng/files/drivers/'

-
	let itemsList = [
		{
			id: '1680663',
			groupClass: 'keyboards',
			groupName: 'Игровые клавиатуры',
			name: 'Клавиатура GMNG 925GK',
			link: catalogPath + 'keyboard-925GK' + '.html',
			image: imagePath + '1680663_main',
			description: 'Игровая механическая клавиатура с красными переключателями, съемным корпусом на магнитных держателях и RGB-подсветкой',
			action: true,
			hit: true,
			new: true,
			downloads: true,
			reviews: true,
			features: true,
			manualLink: manualPath + '925gk_manual' + '.pdf',
			manualSize: '19.17 Мбайт',
		},
		{
			id: '1684803',
			groupClass: 'keyboards',
			groupName: 'Игровые клавиатуры',
			name: 'Клавиатура GMNG 707GK',
			link: catalogPath + 'keyboard-925GK' + '.html',
			image: imagePath + '1684803_main',

		},
		{
			id: '1533150',
			groupClass: 'keyboards',
			groupName: 'Игровые клавиатуры',
			name: 'Клавиатура GMNG 720GK',
			link: catalogPath + 'keyboard-925GK' + '.html',
			image: imagePath + '1533150_main',
			action: true,
			hit: true,
			new: true,
		},
		{
			id: '1533151',
			groupClass: 'keyboards',
			groupName: 'Игровые клавиатуры',
			name: 'Игровой блок 703GK',
			link: catalogPath + 'keyboard-925GK' + '.html',
			image: imagePath + '1533151_main',
			action: true,
			new: true,
		},
		{
			id: '1091218',
			groupClass: 'keyboards',
			groupName: 'Игровые клавиатуры',
			name: 'Клавиатура GMNG 999GK',
			link: catalogPath + 'keyboard-925GK' + '.html',
			image: imagePath + '1091218_main',

		},
		{
			id: '1620882',
			groupClass: 'keyboards',
			groupName: 'Игровые клавиатуры',
			name: 'Игровой блок 705GK',
			link: catalogPath + 'keyboard-925GK' + '.html',
			image: imagePath + '1620882_main',
			action: true,
			hit: true,
			new: true,
		},
		{
			id: '1659995',
			groupClass: 'keyboards',
			groupName: 'Игровые клавиатуры',
			name: 'Клавиатура GMNG 735GK',
			link: catalogPath + 'keyboard-925GK' + '.html',
			image: imagePath + '1659995_main',

		},
		{
			id: '1533166',
			groupClass: 'mouses',
			groupName: 'Игровые мыши',
			name: 'Мышь GMNG 980GMW',
			description: 'Встроенный Li-Ion аккумулятор на 500mAh, время зарядки 3 часа, работы до 40 часов, удлинитель-передатчик, программируемые клавишами, коннектор USB позолоченный, поверхность soft-touch, индикация DPI на зарядной станции, специальное ПО, RGB подсветка.',
			link: catalogPath + 'mouse-980GMW' + '.html',
			image: imagePath + '1533166_main',
			action: true,
			new: true,
			hit: true,
			features: true,
			reviews: true,
			downloads: true,
			manualLink: manualPath + '980gmw_manual' + '.pdf',
			manualSize: '3.43 Мбайт',
			driverLink: driverPath + '980_gmw.zip',
			driverSize: '2.69 Мбайт',

		},
		{
			id: '1620711',
			groupClass: 'mouses',
			groupName: 'Игровые мыши',
			name: 'Мышь GMNG 720GM',
			link: catalogPath + 'mouse-980GMW' + '.html',
			image: imagePath + '1620711_main',
			action: true,
			new: true,
		},
		{
			id: '1651278',
			groupClass: 'mouses',
			groupName: 'Игровые мыши',
			name: 'Мышь GMNG XM003',
			link: catalogPath + 'mouse-980GMW' + '.html',
			image: imagePath + '1651278_main',

		},
		{
			id: '1651279',
			groupClass: 'mouses',
			groupName: 'Игровые мыши',
			name: 'Мышь GMNG XM001',
			link: catalogPath + 'mouse-980GMW' + '.html',
			image: imagePath + '1651279_main',
			action: true,
			new: true,
		},
		{
			id: '1651280',
			groupClass: 'mouses',
			groupName: 'Игровые мыши',
			name: 'Мышь GMNG XM002',
			link: catalogPath + 'mouse-980GMW' + '.html',
			image: imagePath + '1651280_main',
			action: true,
			soon: true,
		},
		{
			id: '1651281',
			groupClass: 'mouses',
			groupName: 'Игровые мыши',
			name: 'Мышь GMNG 940GM',
			link: catalogPath + 'mouse-980GMW' + '.html',
			image: imagePath + '1651281_main',
			action: true,
			hit: true,
		},
		{
			id: '1651282',
			groupClass: 'mouses',
			groupName: 'Игровые мыши',
			name: 'Мышь GMNG XM004',
			link: catalogPath + 'mouse-980GMW' + '.html',
			image: imagePath + '1651282_main',
			action: true,
			new: true,
			hit: true,
		},
		{
			id: '1605117',
			groupClass: 'headphones',
			groupName: 'Игровые гарнитуры',
			name: 'Наушники с микрофоном GMNG HS-L990G',
			link: catalogPath + 'headphones-HS-L990G' + '.html',
			image: imagePath + '1605117_main',
			description: 'Беспроводная игровая гарнитура с подсветкой. Поддерживает подключение по Bluetooth и через usb ресивер. Съемный микрофон, встроенный эквалайзер с предустановленными режимами, управление звуком. Универсальные наушники.',
			action: true,
			new: true,
			hit: true,
			downloads: true,
			features: true,
			reviews: true,
			manualLink: manualPath + 'hs-l990g_manual' + '.pdf',
			manualSize: '6.22 Мбайт',

		},
		{
			id: '1533545',
			groupClass: 'headphones',
			groupName: 'Игровые гарнитуры',
			name: 'Наушники с микрофоном GMNG HS-L325G',
			link: catalogPath + 'headphones-HS-L990G' + '.html',
			image: imagePath + '1533545_main',

		},
		{
			id: '1533553',
			groupClass: 'headphones',
			groupName: 'Игровые гарнитуры',
			name: 'Наушники с микрофоном GMNG  HS-L325G',
			link: catalogPath + 'headphones-HS-L990G' + '.html',
			image: imagePath + '1533553_main',

		},
		{
			id: '1533556',
			groupClass: 'headphones',
			groupName: 'Игровые гарнитуры',
			name: 'Наушники с микрофоном GMNG  HS-L510G',
			link: catalogPath + 'headphones-HS-L990G' + '.html',
			image: imagePath + '1533556_main',
			action: true,
			hit: true, 
		},
		{
			id: '1895988',
			groupClass: 'monitors',
			groupName: 'Игровые мониторы',
			name: 'Монитор GMNG 27" Gaming GM-27F11',
			link: catalogPath + 'monitor-GM-27F11' + '.html',
			image: imagePath + '1895988_main',
			action: true,
			new: true, 
			downloads: true,
			manualLink: manualPath + 'gm-27f11_manual' + '.pdf',
			manualSize: '8.67 Мбайт',
			description: 'Почувствуй увлекательное погружение в гейминг с исключительным комфортом',
			features: true,
		},
		{
			id: '1896036',
			groupClass: 'monitors',
			groupName: 'Игровые мониторы',
			name: 'Монитор GMNG 23.8" Gaming GM-24F01',
			link: catalogPath + 'monitor-GM-27F11' + '.html',
			image: imagePath + '1896036_main',
			action: true,
			soon: true, 
		},
		{
			id: '1531649',
			groupClass: 'speakers',
			groupName: 'Аудиосистемы',
			name: 'Колонки OK-175',
			link: catalogPath + 'speakers-OK-350' + '.html',
			image: imagePath + '1531649_main',

		},
		{
			id: '1531948',
			groupClass: 'speakers',
			groupName: 'Аудиосистемы',
			name: 'Колонки OK-350',
			link: catalogPath + 'speakers-OK-350' + '.html',
			image: imagePath + '1531948_main',
			action: true,
			hit: true,
			description: 'Многоцветная динамическая подсветка. Длина кабеля: 1.3м',
			manualLink: manualPath + 'ok-350_manual' + '.pdf',
			manualSize: '3.49 Мбайт',
			features: true, 
			downloads: true,
		},
		{
			id: '1830314',
			groupClass: 'cases',
			groupName: 'Корпуса для ПК',
			name: 'Корпус GMNG OGC-G130',
			link: catalogPath + 'case-OGC-G200' + '.html',
			image: imagePath + '1830314_main',
			action: true,
			new: true,
		},
		{
			id: '1830311',
			groupClass: 'cases',
			groupName: 'Корпуса для ПК',
			name: 'Корпус GMNG OGC-G200',
			link: catalogPath + 'case-OGC-G200' + '.html',
			image: imagePath + '1830311_main',
			description: '3D LED подсветка передней панели, фронтальная панель с пылевым фильтром',
			action: true,
			new: true,
			downloads: false,
			features: true,
			reviews: true,
		},
		{
			id: '1806874',
			groupClass: 'power',
			groupName: 'Блоки питания',
			name: 'Блок питания GMNG ATX 750W PSU-750W-80BR',
			link: catalogPath + 'power-atx-750w-psu-750w-80br' + '.html',
			image: imagePath + '1806874_main',
			action: true,
			new: true,
			hit: true,
			downloads: false,
			features: true,
			reviews: true,
			description: 'Конденсаторы Teapo',
		},
		{
			id: '1529057',
			groupClass: 'microphones',
			groupName: 'Микрофоны',
			name: 'Микрофон проводной GMNG SM-900G',
			link: catalogPath + 'microphone-SM-900G' + '.html',
			image: imagePath + '1529057_main',
			action: true,
			hit: true,
			downloads: true,
			features: true,
			reviews: true,
			description: 'Микрофон для стриминга, записи подкастов и конференций, на устойчивой подставке, с регулируемым углом наклона.',
			manualLink: manualPath + 'sm-900g_manual' + '.pdf',
			manualSize: '3.30 Мбайт',
		},
		{
			id: '1529051',
			groupClass: 'microphones',
			groupName: 'Микрофоны',
			name: 'Микрофон проводной GMNG MP-300G',
			link: catalogPath + 'microphone-SM-900G' + '.html',
			image: imagePath + '1529051_main',
			action: true,
			new: true,
		},
		{
			id: '1521029',
			groupClass: 'coasters',
			groupName: 'Подставки под наушники',
			name: 'Подставка GMNG HSS-502',
			link: catalogPath + 'coaster-HSS-502' + '.html',
			image: imagePath + '1521029_main',
			action: true,
			hit: true,
			features: false,
			downloads: true,
			reviews: true,
			manualLink: manualPath + 'hss-502_manual' + '.pdf',
			manualSize: '3.72 Мбайт',
		},
		{
			id: '1533561',
			groupClass: 'headphones',
			groupName: 'Игровые гарнитуры',
			name: 'Наушники с микрофоном GMNG HS-L630G',
			link: catalogPath + 'headphones-HS-L990G' + '.html',
			image: imagePath + '1533561_main',

		},
	];
