-let newsPath = '/gmng/news/'

-
	let newsList = [
		{
			title: 'Новая механическая клавиатура GMNG 985GK: красные свитчи, подставка для запястий и 19 режимов RGB-подсветки',
			announce: 'Бренд GMNG, выпускающий устройства для гейминга, представляет полноразмерную механическую игровую клавиатуру 985GK. Она получила металлическую подставку для запястий, красные свитчи и 19 режимов подсветки.',
			date: '19.05.2023',
			link: newsPath + 'novaya-mekhanicheskaya-klaviatura-gmng-985gk' + '.html',
			id: '008',
		},
		{
			title: 'Беспроводная игровая мышь GMNG XM001: настраиваемый сенсор, приятное покрытие, 8 кнопок',
			announce: 'Бренд GMNG, выпускающий устройства для гейминга, представляет игровую беспроводную мышь GMNG XM001. Она получила максимальное разрешение сенсора до 16000 DPI, UV-покрытие корпуса, 8 кнопок и ресурс до 50 млн. нажатий.',
			date: '17.05.2023',
			link: newsPath + 'besprovodnaya-igrovaya-mysh-gmng-xm001' + '.html',
			id: '007',
		},
		{
			title: 'GMNG налаживает партнерские связи в ЮФО',
			announce: 'В конце марта в Ростове-на-Дону прошла партнёрская бизнес-конференция «IT Partner – надежная опора для вашего бизнеса», посвященная расширению и укреплению сотрудничества между участниками IT-индустрии.',
			date: '28.04.2023',
			link: newsPath + 'gmng-nalazhivaet-partnerskie-svyazi-v-yufo' + '.html',
			id: '006',
		},
		{
			title: 'Бренд для геймеров GMNG расширяет ассортимент. В продажу поступили блоки питания для игровых ПК',
			announce: 'Новинки подходят для разных конфигураций: от сборок начального уровня до мощных игровых компьютеров.',
			date: '06.04.2023',
			link: newsPath + 'brend-dlya-gejmerov-gmng-rasshiryaet-assortiment' + '.html',
			id: '005',
		},
		{
			title: 'Вместительные, функциональные и с RGB-подсветкой: GMNG запускает линейку игровых корпусов',
			announce: 'Новинки оснащены предустановленными вентиляторами с подсветкой, имеют большой набор слотов расширения, а также открывают вид на интерьер благодаря прозрачной боковой стенке.',
			date: '28.03.2023',
			link: newsPath + 'novaya-mekhanicheskaya-klaviatura-gmng-985gk' + '.html',
			id: '004',
		},
		{
			title: 'Настраиваемые макросы, яркая подсветка и геймерский дизайн — новые игровые клавиатуры GMNG 999GK и 905GK',
			announce: 'Бренд игровой периферии GMNG выпустил механическую игровую клавиатуру 999GK, которая получила подставку для запястий, вспомогательные клавиши для макросов, мультимедиа-функции и 12 эффектов подсветки, а также клавиатуру 905GK, тонкую, яркую и лаконичную с 2 наборами сменных кейкапов.',
			date: '22.03.2023',
			link: newsPath + 'novaya-mekhanicheskaya-klaviatura-gmng-985gk' + '.html',
			id: '003',
		},
		{
			title: 'GMNG запустили охватную рекламную кампанию «Нравится – играй»',
			announce: 'Российский бренд игровой компьютерной периферии GMNG анонсировал охватную рекламную кампанию. Стереотипы индустрии, проблемы современных геймеров – все это в рекламной кампании «Нравится – играй».',
			date: '06.03.2023',
			link: newsPath + 'novaya-mekhanicheskaya-klaviatura-gmng-985gk' + '.html',
			id: '002',
		},
		{
			title: 'Впечатляющий дизайн и отличная автономность: новая клавиатура XK1 от GMNG',
			announce: 'Бренд игровой периферии GMNG представил беспроводную игровую клавиатуру XK1, которую отличают оригинальный внешний вид, компактные размеры, выносливый аккумулятор и надежные механические переключатели GMNG RED.',
			date: '26.12.2022',
			link: newsPath + 'novaya-mekhanicheskaya-klaviatura-gmng-985gk' + '.html',
			id: '001',
		},
	];