-let reviewsPath = '/gmng/reviews/'
-let reviewsImagePath = '/gmng/img/reviews/'

-
	let reviewsList = [
		{
			id: '001',
			title: 'Обзоры на мышь GMNG 970GM',
			image: reviewsImagePath + 'reviews-1',
			link: reviewsPath + 'obzory-na-mysh-gmng-980gmw' + '.html',
			group: 'mouses',
		},
		{
			id: '1521029',
			title: 'Обзоры на подставку GMNG HSS-502',
			image: reviewsImagePath + 'reviews-2',
			link: reviewsPath + 'obzory-na-podstavku-gmng-hss-502' + '.html',
			group: 'coasters',
		},
		{
			id: '1605117',
			title: 'Обзоры на наушники с микрофоном GMNG HS-L990G',
			image: reviewsImagePath + 'reviews-3',
			link: reviewsPath + 'obzory-na-naushniki-gmng-hs-l990g' + '.html',
			group: 'headphones',
		},
		{
			id: '1529057',
			title: 'Обзоры на микрофон проводной GMNG SM-900G',
			image: reviewsImagePath + 'reviews-4',
			link: reviewsPath + 'obzory-na-mikrofon-provodnoj-gmng-sm-900g' + '.html',
			group: 'microphones',
		},
		{
			id: '005',
			title: 'Обзоры на колонки GMNG OK-901',
			image: reviewsImagePath + 'reviews-5',
			link: reviewsPath + 'obzory-na-kolonki-gmng-ok-450' + '.html',
			group: 'speakers',
		},
		{
			id: '006',
			title: 'Обзоры на колонки GMNG OK-707',
			image: reviewsImagePath + 'reviews-6',
			link: reviewsPath + 'obzory-na-kolonki-gmng-ok-450' + '.html',
			group: 'speakers',
		},
		{
			id: '1533166',
			title: 'Обзоры на мышь GMNG 980GMW',
			image: reviewsImagePath + 'reviews-7',
			link: reviewsPath + 'obzory-na-mysh-gmng-980gmw' + '.html',
			group: 'mouses',
		},
		{
			id: '1531948',
			title: 'Обзоры на колонки GMNG OK-450',
			image: reviewsImagePath + 'reviews-8',
			link: reviewsPath + 'obzory-na-kolonki-gmng-ok-450' + '.html',
			group: 'speakers',
		},
		{
			id: '009',
			title: 'Обзоры на колонки GMNG OK-700',
			image: reviewsImagePath + 'reviews-9',
			link: reviewsPath + 'obzory-na-kolonki-gmng-ok-450' + '.html',
			group: 'speakers',
		},
		{
			id: '1830311',
			title: 'Обзоры на корпус GMNG OGC-G200',
			image: reviewsImagePath + 'reviews-10',
			link: reviewsPath + 'obzory-na-korpus-gmng-ogc-g200' + '.html',
			group: 'cases',
		},
		{
			id: '1806874',
			title: 'Обзоры на блок питания GMNG ATX 750W PSU-750W-80BR',
			image: reviewsImagePath + 'reviews-11',
			link: reviewsPath + 'obzory-na-blok-pitaniya-gmng-atx-750w-psu-750w-80br' + '.html',
			group: 'power',
		},
		{
			id: '012',
			title: 'Обзоры на клавиатуру GMNG XK1',
			image: reviewsImagePath + 'reviews-12',
			link: reviewsPath + 'obzory-na-klaviaturu-gmng-999gk' + '.html',
			group: 'keyboards',
		},
		{
			id: '1680663',
			title: 'Обзоры на клавиатуру GMNG 905GK',
			image: reviewsImagePath + 'reviews-13',
			link: reviewsPath + 'obzory-na-klaviaturu-gmng-999gk' + '.html',
			group: 'keyboards',
		},
		{
			id: '014',
			title: 'Обзоры на клавиатуру GMNG 999GK',
			image: reviewsImagePath + 'reviews-14',
			link: reviewsPath + 'obzory-na-klaviaturu-gmng-999gk' + '.html',
			group: 'keyboards',
		},
		{
			id: '016',
			title: 'Обзоры на колонки GMNG OK-450',
			image: reviewsImagePath + 'reviews-16',
			link: reviewsPath + 'obzory-na-kolonki-gmng-ok-450' + '.html',
			group: 'speakers',
		}
	];