.news-page {
	.main {
		padding: 40px 0 120px;
		@include media(phone-bg) {
			padding: 10px 0 140px;
		}
	}
	.news__title {
		margin: 0 0 30px;
		@include media(phone-bg) {
			margin: 0 0 20px;
		}
	}
	.news__list {
		display: flex;
		flex-direction: column;
	}
	.news__item {
		border-top: 1px solid $color-dark-cyan;
		padding: 40px 0;
		@include media(phone-bg) {
			padding: 20px 0;
		}
	}
	.news__item:last-child {
		border-top: 1px solid $color-dark-cyan;
		border-bottom: 1px solid $color-dark-cyan;
	}
	.news__date {
		display: block;
		color: $color-grey;
		margin: 0 0 10px;
	}
	.news__link {
		display: block;
		margin: 0 0 10px;
	}
}

.news-item-page {
	.main {
		padding: 40px 0 130px;
		@include media(phone-bg) {
			padding: 10px 0 100px;
		}
	}
	.news__inner {
		display: flex;
		justify-content: space-between;
		padding: 10px 0 0;
		gap: 100px;
		@include media(laptop-sm) {
			flex-direction: column;
		}
	}
	.news__main {
		max-width: 856px;
	}
	.news__title {
		margin: 0 0 20px;
	}
	.news__date {
		display: block;
		color: $color-grey;
		margin: 0 0 20px;
		@include media(phone-bg) {
			font-size: 16px;
		}
	}
	.news__announce {
		margin: 0 0 20px;
	}
	.news__user-content * {
		margin: 0 0 20px;
	}
	.news__user-content img {
		padding: 20px 0 0;
		display: block;
		margin: 0 auto 30px;
	}
	.news__user-content a {
		color: $color-dark-cyan;
	}
	.news__user-content ul,
	.news__user-content ol {
		padding: 0 0 0 17px;
		margin: 0 0 30px;
	}
	.news__user-content li {
		list-style-type: disc;
	}
	.sidebar {
		max-width: 380px;
		width: 100%;
		flex-shrink: 0;
		@include media(laptop-sm) {
			max-width: 100%;
		}
	}
	.sidebar__title {
		display: none;
		margin: 0 0 20px;
		@include media(laptop-sm) {
			display: block;
		}
	}
	.sidebar__item {
		padding: 40px 0;
		border-top: 1px solid $color-dark-cyan;
	}
	.sidebar__item:last-child {
		border-bottom: 1px solid $color-dark-cyan;
	}
	.sidebar__date {
		display: block;
		color: $color-grey;
		margin: 0 0 10px;
		@include media(phone-bg) {
			font-size: 16px;
		}
	}
	.sidebar__link {
		display: block;
		margin: 0 0 10px;
	}
}
