doctype html
html(lang='ru')
	include mixins/mixins
	block vars
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= metaTitle
		meta(name='description', content= metaDescription)
		meta(name='robots', content='noindex, nofollow')
		meta(property='og:title' content= metaTitle)
		meta(property='og:description' content= metaDescription)
		meta(property='og:image' content='/gmng/img/cover-project.jpg')
		link(href='/gmng/css/style.css', rel='stylesheet')
		link(rel='shortcut icon', href='/gmng/img/favicon.ico')
		link(rel='apple-touch-icon', href='/gmng/img/favicon.ico')
	body(class= pageName)
		.overlay
		.wrapper
			include block/header
			block content
			include block/footer
			button(id="toTop", aria-label="Вверх")
				include ../img/btn-arrow.svg
		script(src='/gmng/libs/jquery.min.js')
		script(src='/gmng/libs/swiper-bundle.min.js')
		script(src='/gmng/libs/isotope.min.js')
		script(src='/gmng/libs/imagesloaded.min.js')
		script(src='/gmng/libs/fancybox.min.js')
		if pageName === 'contacts-page'
			script(async src='https://api-maps.yandex.ru/2.1/?load=package.standard&lang=ru_RU&scroll=false&onload=getYaMap')
		script(src='/gmng/js/main.js')
