extends ../base

block vars
	-let pageName = 'contacts-page'
	-let pageTitle = 'Контакты GMNG'
	-let metaTitle = 'Контакты | GMNG'
	-let metaDescription = 'Контакты производителя широкого спектра устройств для геймеров с разным опытом GMNG'
block content
		main.main
			section.contacts
				.contacts__container.container
					h1.contacts__title.h3 Контакты
					p Спасибо, что&nbsp;ты с&nbsp;GMNG.<br>В&nbsp;случае возникновения вопросов или&nbsp;пожеланий мы будем рады тебе ответить в&nbsp;нашей группе в&nbsp;<a href="https://vk.com/gmng_official" target="_blank">ВК</a>
					p Официальным дистрибьютором и&nbsp;партнером по&nbsp;продвижению продукции GMNG на&nbsp;территории Российской Федерации является компания MERLION.
					img(src="/dist/img/merlion.svg", alt="Merlion лого")
					.contacts__details
						|<span class="contacts__address">143407, Россия, г.&nbsp;Красногорск, бульвар Строителей, д.&nbsp;4, БЦ&nbsp;«Кубик», блок&nbsp;«Б»</span>
						|<span class="contacts__phone"><a href="tel:+74959818484">+7&nbsp;(495)&nbsp;981&nbsp;84&nbsp;84</a> (многоканальный)</span>
						|<span class="contacts__website"><a href="https://merlion.com" target="_blank">merlion.com</a></span>
					#ymap
