@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
		src: url("#{$file-path}.eot");
		src: local("#{$font-family}"), url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
			url("#{$file-path}.woff2") format("woff2"), url("#{$file-path}.woff") format("woff"),
			url("#{$file-path}.ttf") format("truetype"), url("#{$file-path}.svg") format("svg");
	}
}

@mixin font($header-font-size, $header-line-height, $header-font-weight: $font-weight-base) {
	font-size: $header-font-size;
	font-weight: $header-font-weight;
	line-height: math.div($header-line-height, $header-font-size);
}

@include font-face("Futura New", "/dist/fonts/futuranewbook", 400);
@include font-face("Futura New", "/dist/fonts/futuranewmedium", 500);
@include font-face("Futura New", "/dist/fonts/futuranewmedium", 600);
