extends ../../base


block vars
	-let pageName = 'news-item-page'
	-let metaTitle = 'Беспроводная игровая мышь GMNG XM001: настраиваемый сенсор, приятное покрытие, 8 кнопок'
	-let metaDescription = '8 кнопок и разрешение до 16 000 DPI'
	-let newsID = '007'
	-let pageTitle = 'Беспроводная игровая мышь GMNG XM001: настраиваемый сенсор, приятное покрытие, 8 кнопок'
block content
		include ../../includes/news-list
		main.main
			section.news
				.news__container.container
					+breadcrumbs(2, 'Пресс‑центр', 'news')
					.news__inner
						.news__main
							each element in newsList
								if element.id === newsID
									h1.news__title.h2= element.title
									span.news__date= element.date
									p.news__announce.h4= element.announce
									.news__user-content
										div(align="center")
											img(src="/dist/img/news/007.jpg" alt="Беспроводная игровая мышь GMNG XM001: настраиваемый сенсор, приятное покрытие, 8 кнопок")
										p
											strong 8 кнопок и разрешение до 16 000 DPI
										p
											a(href="/dist/catalog/items/mouse-980GMW.html")
												strong Мышь
											|  можно подстроить так, чтобы получить высокую точность движений, оптимальную управляемость и своевременную реакцию в игре.
										p
											| В первую очередь, в этом помогут оптический сенсор Pixart 3335 с разрешающей способностью до 16 000 DPI и четыре конфигурации частоты опроса: 125 / 250 / 500 / 1000 Гц. Между значениями DPI легко переключаться благодаря специальному ПО или двум кнопкам на корпусе, у геймера не возникнет проблем с переходами между шутерами, стратегиями или любыми другими жанрами.
										p
											| Восемь кнопок, которые позволяют кастомизировать игровой стиль вплоть до малейших деталей, играют не менее важную роль. В 
											a(href="/dist/catalog/items/mouse-980GMW.html") мыши GMNG XM001
											|  присутствует кнопка «Огонь», которая позволяет менять режимы стрельбы в игре и не отвлекаться.
										p
											strong Корпус с UV-покрытием и 6 режимов подсветки
										p
											| Эргономичный чёрный корпус выполнен из устойчивого к истиранию 
											em UV
											| -покрытия с прорезиненным колесом прокрутки и боковыми ребристыми вставками. Ножки изготовлены из тефлона. Мышь хорошо сидит в руке, обладает небольшими габаритами и весит всего 95 г.
										p
											| В девайсе предусмотрена RGB-подсветка с 6 режимами и 10 вариантами работы. Настройка цветов производится при помощи специального ПО, а изменение режима доступно посредством нажатия комбинации клавиш.
										p
											strong Автономность и подключение
										p
											| Ёмкость аккумулятора мыши 500 мАч. Время полной зарядки 2,5 часа. Девайс может работать в автономном режиме от 25 до 40 часов в зависимости от режима подсветки.
										p
											a(href="/dist/catalog/items/mouse-980GMW.html")
												strong GMNG XM001
											|  подключается к ПК через радиоканал с частотой 2,4 ГГц с помощью одного из ресиверов входящих в комплект поставки (USB-A, USB-C), максимальный радиус действия до 10 м. Сопряжение происходит автоматически, для последующей конфигурации потребуется скачать дополнительный софт с сайта производителя. Также соединение с компьютером возможно через 1,8 м USB-кабель, он поставляется в прочной оплётке с позолоченным коннектором для надёжности.

						include ../../block/news-also







