extends ../../base


block vars
	-let pageName = 'news-item-page'
	-let metaTitle = 'Бренд для геймеров GMNG расширяет ассортимент. В продажу поступили блоки питания для игровых ПК'
	-let metaDescription = 'Бренд современных игровых аксессуаров для гейминга GMNG продолжает быстро развиваться и расширять свой ассортимент'
	-let newsID = '005'
	-let pageTitle = 'Бренд для геймеров GMNG расширяет ассортимент. В продажу поступили блоки питания для игровых ПК'
block content
		include ../../includes/news-list
		main.main
			section.news
				.news__container.container
					+breadcrumbs(2, 'Пресс‑центр', 'news')
					.news__inner
						.news__main
							each element in newsList
								if element.id === newsID
									h1.news__title.h2= element.title
									span.news__date= element.date
									p.news__announce.h4= element.announce
									.news__user-content
										p
											| Бренд современных игровых аксессуаров для гейминга GMNG продолжает быстро развиваться и расширять свой ассортимент.  В этот раз модельный ряд устройств пополнился новой категорией - компьютерные комплектующие. Первой новинкой раздела станут блоки питания. Устройства предназначаются для игровых ПК, соответствуют сертификатам 80 PLUS и 80 PLUS BRONZE и способны обеспечить бесперебойную и производительную работу компьютера при высоких нагрузках.
										div(align="center")
											img(src="/gmng/img/news/005/1.jpg" alt="Игровые блоки питания GMNG")
										p
											| Новые блоки питания выполнены в форм-факторе ATX, комплектуются активным вентилятором, скорость оборотов которого изменяется в зависимости от нагрузки, и, соответственно, температуры его компонентов, оснащаются конденсаторами Teapo. Каждая модель оборудована набором кабелей:
										ul
											li 1 х 24 pin для подключения материнской платы;
											li 1 х 4+4 pin для подключения процессора;
											li
												| 2 х 6+2 pin (3 x 6+2 pin у моделей GMNG PSU-700W-80+, GMNG PSU-650W-80BR, GMNG PSU-750W-80BR) PCI-E для подключения видеокарт;
											li
												| 6 х SATA (5 x SATA у моделей GMNG PSU-500W-80+ и GMNG PSU-550W-80BR) для подключения накопителей, вентиляторов и прочей периферии;
											li
												| 3 х Molex (4 x Molex у модели GMNG PSU-750W-80BR) для подключения накопителей, вентиляторов и прочей периферии.
										p
											| Каждый кабель обладает достаточной длиной и правильной плоской формой, для их удобной прокладки внутри корпуса ПК.
										p
											| Устройства изготовлены в чёрном цвете с перфорацией для лучшей вентиляции. Отличительная особенность моделей с сертификациями 80 PLUS и 80 PLUS BRONZE ? дизайн решетки вентилятора.
										p Новинки сопровождаются 36-месячной гарантией от производителя.
										p В модельном ряде блоков питания GMNG находятся следующие устройства:
										ul
											li GMNG PSU-500W-80+ мощностью 500 Вт с сертификатом 80 PLUS
											li GMNG PSU-600W-80+ мощностью 600 Вт с сертификатом 80 PLUS
											li GMNG PSU-700W-80+ мощностью 700 Вт с сертификатом 80 PLUS
											li GMNG PSU-550W-80BR мощностью 550 Вт с сертификатом 80 PLUS BRONZE
											li GMNG PSU-650W-80BR мощностью 650 Вт с сертификатом 80 PLUS BRONZE
											li GMNG PSU-750W-80BR мощностью 750 Вт с сертификатом 80 PLUS BRONZE
										p Новые блоки питания GMNG уже поступили в продажу в России.
						include ../../block/news-also







