extends ../../base


block vars
	-let pageName = 'news-item-page'
	-let metaTitle = 'GMNG налаживает партнерские связи в ЮФО'
	-let metaDescription = 'Более 70-ти представителей компаний-партнёров собрались 30 марта по приглашению IT Partner'
	-let newsID = '006'
	-let pageTitle = 'GMNG налаживает партнерские связи в ЮФО'
block content
		include ../../includes/news-list
		main.main
			section.news
				.news__container.container
					+breadcrumbs(2, 'Пресс‑центр', 'news')
					.news__inner
						.news__main
							each element in newsList
								if element.id === newsID
									h1.news__title.h2= element.title
									span.news__date= element.date
									p.news__announce.h4= element.announce
									.news__user-content
										img(src="/gmng/img/news/006/1.jpg" alt="GMNG налаживает партнерские связи в ЮФО")
										
										p
											| Более 70-ти представителей компаний-партнёров собрались 30 марта по приглашению IT Partner – ведущего поставщика оборудования в ЦФО и ЮФО в отеле Radisson Hotel Gorizont на региональную бизнес-конференцию.
										p
											| С приветственным словом выступил Евгений Морозов, менеджер по развитию бизнеса IT Partner. Он рассказал, что для компании это не просто очередная конференция. В этом году компания добилась высоких результатов, открыла новый филиал в Ростове-на-Дону и отмечает свой 10 летний юбилей. Евгений поделился с участниками мероприятия подробностями о работе компании, а также накопленным практическим опытом на рынке IT.
										img(src="/gmng/img/news/006/2.jpg" alt="GMNG налаживает партнерские связи в ЮФО")
										
										p
											| О бренде GMNG и широком портфеле компьютерной периферии для геймеров рассказал Антон Барабанщиков, ведущий бренд-менеджер GMNG.
										p
											| «GMNG – это молодой бренд, который сравнительно недавно вышел на рынок игровых устройств. Несмотря на это, некоторые товары уже стали настоящими хитами и вызвали у пользователей большой интерес. Я сейчас говорю о подставке HSS-502 для гарнитуры, клавиатурах 999GK и XК1, а также об акустических системах ОК-901 и ОК-707. Уникальное позиционирование позволяет бренду ярко выделяться на фоне всего рынка устройств для гейминга. Философия бренда «Нравится – играй» находит всё больше отклика у покупателей – сказал Антон Барабанщиков.
										img(src="/gmng/img/news/006/3.jpg" alt="GMNG налаживает партнерские связи в ЮФО")
										
										p
											| Все участники конференции могли вживую познакомиться с флагманскими товарами бренда во время мероприятия.
										img(src="/gmng/img/news/006/4.jpg" alt="GMNG налаживает партнерские связи в ЮФО")
										
						include ../../block/news-also







