extends ../../base


block vars
	-let pageName = 'news-item-page'
	-let metaTitle = 'Новая механическая клавиатура GMNG 985GK: красные свитчи, подставка для запястий и 19 режимов RGB-подсветки'
	-let metaDescription = 'Новинка получила классическую раскладку в 104 клавиши и красные свитчи'
	-let newsID = '008'
	-let pageTitle = 'Новая механическая клавиатура GMNG 985GK: красные свитчи, подставка для запястий и 19 режимов RGB-подсветки'
block content
		include ../../includes/news-list
		main.main
			section.news
				.news__container.container
					+breadcrumbs(2, 'Пресс‑центр', 'news')
					.news__inner
						.news__main
							each element in newsList
								if element.id === newsID
									h1.news__title.h2= element.title
									span.news__date= element.date
									p.news__announce.h4= element.announce
									.news__user-content
										div(align="center")
											img(src="/gmng/img/news/008/1.jpg" alt="Новая механическая клавиатура GMNG 985GK: красные свитчи, подставка для запястий и 19 режимов RGB-подсветки")
										p
											em
												strong Механические свитчи
										p
											a(href="/gmng/catalog/items/keyboard-925GK.html") Новинка
											|  получила классическую раскладку в 104 клавиши и красные свитчи. Пользователи, которые уже знакомы с продукцией GMNG, нежно полюбили эти переключатели за их надёжность. Красные свитчи идеально подходят геймерам благодаря точному срабатыванию, почти бесшумному ходу и ресурсу в 50 млн нажатий.
										p
											em
												strong Брутальный дизайн и 19 режимов подсветки
										p
											a(href="/gmng/catalog/items/keyboard-925GK.html") Механическая клавиатура GMNG 985GK
											|  полностью соответствует всем канонам геймерского дизайна, снабжена 2 портами USB 2.0 и прорезиненными ножками для предотвращения скольжения.
										p
											| Устройство выполнено из двух видов материалов: чёрного пластика и алюминия. Благодаря металлу на корпусе клавиатура выглядит солидно и увесисто. Основная часть корпуса покрыта алюминиевой пластиной. Подставка также сделана из металла со стильной перфорацией справа. Привлекательный внешний вид дополняет RGB-подсветка с 19 режимами. Можно выбрать цвет, яркость, скорость изменения цвета подсветки или отключить её совсем. Устройство защищено по стандарту влагозащиты IPX4: прямые брызги будут не страшны.
										p
											| Размеры клавиатуры немаленькие, но и весь стол она не займёт. С подставкой для запястий 440 х 232 х 45 мм, без 414 х 191 х 43 мм. Благодаря алюминиевому корпусу и такой же подставке устройство весит почти 1 кг. С подставкой для запястий 869 г, без 665 г.
										p
											| Длина кабеля 1.8 м, он покрыт прочной оплёткой с позолоченным коннектором и магнитно-ферритовым фильтром, который обеспечит стабильный сигнал и бесперебойную работу девайса.
										p
											| Несомненное преимущество подставкаа для запястий, снимающая лишнюю нагрузку с рук и гарантирующая дополнительный комфорт при долгих катках.
										p
											em
												strong Быстрые клавиши и Anti-Ghosting
										p
											a(href="/gmng/catalog/items/keyboard-925GK.html") Клавиатура GMNG 985GK
											|  выполнена в полноразмерном формате с набором всех необходимых функций для комфортного гейминга. Кейкапы с двойным литьём поддерживают технологию Anti-Ghosting — предотвращает залипание и повышает точность отклика. Команды, которые не вынесены на отдельные клавиши, активируются сочетаниями клавиш Fn и F1-F1. В руководстве пользователя указаны все комбинации клавиш.
						include ../../block/news-also







