footer.footer
	.footer__row
		.footer__container.container
			if pageName === "main-page"
				.footer__logo.logo
					include ../../img/logo.svg
			else
				a.footer__logo.logo(href="/gmng/index.html")
					include ../../img/logo.svg
			nav.footer__nav.nav
				ul.nav__list
					li.nav__item
						a.nav__link(href="/gmng/catalog.html") Товары
					li.nav__item
						a.nav__link(href="/gmng/reviews.html") Обзоры
					li.nav__item
						a.nav__link(href="/gmng/contacts.html") Контакты
					li.nav__item
						a.nav__link(href="/gmng/about.html") О&nbsp;бренде
					li.nav__item
						a.nav__link(href="/gmng/utilities.html") Утилиты
					li.nav__item
						a.nav__link(href="/gmng/news.html") Пресс-центр
			h2.slogan Нравится &ndash;&nbsp;играй
	.footer__row
		.footer__container.container
			.social
				a(href="https://vk.com/gmng_official" target="_blank") 
					include ../../img/vk.svg
				a(href="https://www.youtube.com/channel/UCqEe_dU1T3eN876_ATCNSSg" target="_blank") 
					include ../../img/youtube.svg
				a(href="https://vk.com/gmng_official" target="_blank") Подпишись на&nbsp;нас
			.copy
				| © 2005-2023, GMNG. <nobr>Все права защищены</nobr>
