include ../includes/catalog-list

header.header
	.container
		button.burger(aria-label="Открыть меню")
			include ../../img/burger.svg
		if pageName === "main-page"
			.logo
				include ../../img/logo.svg
		else 	
			a(href="/gmng/index.html" aria-label="GMNG главная страница").logo
				include ../../img/logo.svg
		.search
			form.search__form
				input(type="search" class="search__input" placeholder="Поиск" value="")
				input(type="submit" value id="searchBtn")
				label(for="searchBtn") 
					include ../../img/search.svg
			button.search__icon(aria-label="Поиск на сайте")
				include ../../img/search.svg
			button.search__icon-mob(aria-label="Поиск на сайте")
				include ../../img/search.svg
	nav.nav
		.container
			ul.nav__list.menu
				li.nav__item 
					a.nav__link.h3(href="/gmng/about.html") О&nbsp;бренде
				li.nav__item 
					a.nav__link.h3(href="/gmng/reviews.html") Обзоры
				li.nav__item 
					a.nav__link.h3(href="/gmng/utilities.html") Утилиты 
				li.nav__item 
					a.nav__link.h3(href="/gmng/news.html") Пресс-центр
				li.nav__item 
					a.nav__link.h3(href="/gmng/support.html") Поддержка
				li.nav__item 
					a.nav__link.h3(href="/gmng/contacts.html") Контакты
			ul.nav__list.catalog-list
				li.nav__item.h3
					a.nav__link(href="/gmng/catalog.html") Товары
				li.nav__item
					ul.catalog-list__groups
						each element in groupList
							li.nav__item.catalog-list__item
								a.catalog-list__link.h4(href= element.link)= element.name