.swiper-products.swiper
	ul.products__list.swiper-wrapper
		each element in itemsList
			mixin productItem 
				li.products__item.swiper-slide(class= element.groupClass)
					a.products__link(href= element.link)
						.products__image
							img(src="/gmng/img/catalog/items/" + element.id + "_main.jpg", alt= element.name)
						p.products__id="id " + element.id
						p.products__title.link= element.name
						if element.action != null
							.products__actions
								if element.hit === true
									span(class="icon-action icon-hit") Хит продаж
								if element.new === true
									span(class="icon-action icon-new") Новинка
								if element.soon === true
									span(class="icon-action icon-soon") Скоро

			if element.groupClass === catalogGroup & pageName === "group-page"
				+productItem
			if pageName === "catalog-page"
				+productItem
			if pageName === "item-page" & element.groupClass === catalogGroup
				if element.id === itemID

				else
					+productItem 
.products-buttons.swiper-buttons
	.products-button-prev.swiper-button-prev
	.products-button-next.swiper-button-next
