section.also
	.also__container.container
		h2.also__title.h3 Смотреть другие обзоры
		ul.also__list
			each element in reviewsList.slice(0, 9)
				if element.id === itemID

				else
					li.also__item(class= element.group)
						a.also__link(href= element.link, aria-label= element.title) 
							picture.also__image
								source(type='image/webp' srcset= element.image + '.webp')
								source(type='image/jpg' srcset= element.image + '.jpg')
								img(src= element.image + '.jpg', alt= element.title)
							span.also__name= element.title