extends ../../base


block vars
	-let pageName = 'reviews-item-page'
	-let metaTitle = 'Обзоры на клавиатуру GMNG 999GK'
	-let metaDescription = 'Обзоры на товары бренда GMNG. Здесь представлены отзывы популярных блогеров на официальную продукцию GMNG'
	-let itemID = '1680663'
	-let pageTitle = 'Обзоры на клавиатуру GMNG 999GK'
block content
		include ../../includes/reviews-list
		main.main
			section.review
				.review__container.container
					+breadcrumbs(2, 'Обзоры', 'reviews')
					.review__inner
						.review__image 
							picture
								source(type='image/webp', srcset= '/gmng/img/catalog/items/' + itemID + '_main' + '.webp')
								source(type='image/jpg', srcset= '/gmng/img/catalog/items/' + itemID + '_main' + '.jpg')
								img(src= '/gmng/img/catalog/items/' + itemID + '_main' + '.jpg', alt= pageTitle)
						.review__content 	
							each element in reviewsList
								if element.id === itemID
									h1.review__title.h3= element.title
							.review__user-content
								h2 Обзор от TechnoProfi
								p Ознакомиться с обзором можно по ссылке <a href="https://youtube.com/shorts/7npsW6JOCP4" target="_blank">https://youtube.com/shorts/7npsW6JOCP4</a>
			include ../../block/reviews-also
