extends ../../base


block vars
	-let pageName = 'reviews-item-page'
	-let metaTitle = 'Обзоры на наушники с микрофоном GMNG HS-L990G'
	-let metaDescription = 'Обзоры на товары бренда GMNG. Здесь представлены отзывы популярных блогеров на официальную продукцию GMNG'
	-let itemID = '003'
	-let pageTitle = 'Обзоры на наушники с микрофоном GMNG HS-L990G'
block content
		include ../../includes/reviews-list
		main.main
			section.review
				.review__container.container
					+breadcrumbs(2, 'Обзоры', 'reviews')
					.review__inner
						.review__image 
							picture
								source(type='image/webp', srcset= '/img/catalog/items/' + itemID + '_main' + '.webp')
								source(type='image/jpg', srcset= '/img/catalog/items/' + itemID + '_main' + '.jpg')
								img(src= '/img/catalog/items/' + itemID + '_main' + '.jpg', alt= pageTitle)
						.review__content 	
							each element in reviewsList
								if element.id === itemID
									h1.review__title.h3= element.title
							.review__user-content
								h2 Обзор от Гранатка — про VR и девайсы
								p Ознакомиться с обзором можно по ссылке <a href="https://youtube.com/shorts/yygq1xEQr_g" target="blank">https://youtube.com/shorts/yygq1xEQr_g</a><br>
								<br>
								h2 Обзор от Вейми
								p Ознакомиться с обзором можно по ссылке  <a href="https://youtube.com/shorts/0ODHAQ6KKqE" target="_blank">https://youtube.com/shorts/0ODHAQ6KKqE</a><br>
								<br>
								h2 Обзор от Kagepc
								p Ознакомиться с обзором можно по ссылке  <a href="https://youtube.com/shorts/4NVodE3aRv4" target="_blank">https://youtube.com/shorts/4NVodE3aRv4</a>
			include ../../block/reviews-also
