extends ../../base


block vars
	-let pageName = 'reviews-item-page'
	-let metaTitle = 'Обзоры на подставку GMNG HSS-502'
	-let metaDescription = 'Обзоры на товары бренда GMNG. Здесь представлены отзывы популярных блогеров на официальную продукцию GMNG'
	-let itemID = '1521029'
	-let pageTitle = 'Обзоры на подставку GMNG HSS-502'
block content
		include ../../includes/reviews-list
		main.main
			section.review
				.review__container.container
					+breadcrumbs(2, 'Обзоры', 'reviews')
					.review__inner
						.review__image 
							picture
								source(type='image/webp', srcset= '/gmng/img/catalog/items/' + itemID + '_main' + '.webp')
								source(type='image/jpg', srcset= '/gmng/img/catalog/items/' + itemID + '_main' + '.jpg')
								img(src= '/gmng/img/catalog/items/' + itemID + '_main' + '.jpg', alt= pageTitle)
						.review__content 	
							each element in reviewsList
								if element.id === itemID
									h1.review__title.h3= element.title
							.review__user-content
								h2 Обзор от IM SMART
								p Ознакомиться с обзором можно по ссылке <a href="https://www.youtube.com/watch?v=IZWJc-wItio" target="_blank">https://www.youtube.com/watch?v=IZWJc-wItio</a>
								<br>
								h2 Обзор от Kagepc
								p Ознакомиться с обзором можно по ссылке <a href="https://www.youtube.com/shorts/9_byIoFhTLg" target="_blank">https://www.youtube.com/shorts/9_byIoFhTLg</a>
			include ../../block/reviews-also
