extends ../../base


block vars
	-let pageName = 'reviews-item-page'
	-let metaTitle = 'Обзоры на наушники с микрофоном GMNG HS-L990G'
	-let metaDescription = 'Обзоры на товары бренда GMNG. Здесь представлены отзывы популярных блогеров на официальную продукцию GMNG'
	-let itemID = '1605117'
	-let pageTitle = 'Обзоры на наушники с микрофоном GMNG HS-L990G'
block content
		include ../../includes/reviews-list
		main.main
			section.review
				.review__container.container
					+breadcrumbs(2, 'Обзоры', 'reviews')
					.review__inner
						.review__image 
							picture
								source(type='image/webp', srcset= '/gmng/img/catalog/items/' + itemID + '_main' + '.webp')
								source(type='image/jpg', srcset= '/gmng/img/catalog/items/' + itemID + '_main' + '.jpg')
								img(src= '/gmng/img/catalog/items/' + itemID + '_main' + '.jpg', alt= pageTitle)
						.review__content 	
							each element in reviewsList
								if element.id === itemID
									h1.review__title.h3= element.title
							.review__user-content
								h2 Обзор от Гранатка — про VR и девайсы
								a(data-fancybox, href="https://youtube.com/watch?v=yygq1xEQr_g") Ознакомиться с обзором<br>
								<br>
								h2 Обзор от Вейми
								a(data-fancybox, href="https://youtube.com/watch?v=0ODHAQ6KKqE") Ознакомиться с обзором<br>
								<br>
								h2 Обзор от Kagepc
								a(data-fancybox, href="https://youtube.com/watch?v=4NVodE3aRv4") Ознакомиться с обзором
			include ../../block/reviews-also
